<!DOCTYPE html>
<html>
<style>

	.demo-input{padding-left: 10px; height: 38px; min-width: 262px; line-height: 38px; border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 2px;}

</style>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>商品编辑</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/laydate/laydate.js"></script> <!-- 改成你的路径 -->
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- 富文本编辑器 -->
	<link rel="stylesheet" href="../plugins/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="../plugins/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../plugins/kindeditor/lang/zh_CN.js"></script>

	<!-- 引入angular -->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

	<script type="text/javascript" src="../js/base.js"></script>

	<script type="text/javascript" src="../js/service/goodsService.js"></script>
	<script type="text/javascript" src="../js/service/protypeService.js"></script>
	<script type="text/javascript" src="../js/service/uploadService.js"></script>

	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/goodsController.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="fruits" ng-controller="goodsController" ng-init="selectProTypeList();findOne()">

<!-- 正文区域 -->
<section class="content">

	<div class="box-body">

		<!--tab页-->
		<div class="nav-tabs-custom">

			<!--tab头-->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#home" data-toggle="tab">商品基本信息</a>
				</li>
				<li >
					<a href="#pic_upload" data-toggle="tab">商品图片</a>
				</li>
				<li >
					<a href="#spec" data-toggle="tab" >上架设置</a>
				</li>
				<li >
					<a href="#sellerMsg" data-toggle="tab" >商家留言</a>
				</li>
			</ul>
			<!--tab头/-->

			<!--tab内容-->
			<div class="tab-content">

				<!--表单内容-->
				<div class="tab-pane active" id="home">
					<div class="row data-type">
						<div class="col-md-2 title">商品分类</div>

						<div class="col-md-10 data">
							<table>
								<tr>
									<td>
										<!--ng-options="item.id as item.typename for item in proType1List"-->
										<select class="form-control" ng-model="entity.fid"  >
											<option ng-repeat="item in proType1List" ng-selected="item.id == entity.fid" value="{{item.id}}" >{{item.typename}}</option>
										</select>
									</td>
									<td>
										<select class="form-control select-sm"  ng-model="entity.sid">
											<option ng-repeat="item in proType2List" ng-selected="item.id == entity.sid" value="{{item.id}}" >{{item.typename}}</option>
										</select>
									</td>
								</tr>
							</table>

						</div>


						<div class="col-md-2 title">商品名称</div>
						<div class="col-md-10 data">
							<input type="text" ng-model="entity.goodname" class="form-control" placeholder="商品名称" value="">
						</div>



						<div class="col-md-2 title">价格</div>
						<div class="col-md-10 data">
							<div class="input-group">
								<span class="input-group-addon">¥</span>
								<input type="text"ng-model="entity.price"   class="form-control"  placeholder="价格" value="">
							</div>
						</div>
						<div class="col-md-2 title">会员价格</div>
						<div class="col-md-10 data">
							<div class="input-group">
								<span class="input-group-addon">¥</span>
								<input type="text"ng-model="entity.tprice"   class="form-control"  placeholder="价格" value="">
							</div>
						</div>
						<div class="col-md-2 title">推荐商品</div>
						<div class="col-md-10 data">
							<select class="form-control" ng-model="entity.istj">
								<option value="yes">是</option>
								<option value="no">否</option>
							</select>
						</div>

							<div class="col-md-2 title">上架/下架</div>
							<div class="col-md-10 data">
								<select class="form-control"  ng-model="entity.isshelf">
									<option value="02">待上架</option>
									<option value="00">上架</option>
									<option value="01">下架</option>
								</select>
							</div>


						<div class="col-md-2 title editer">商品介绍</div>
						<div class="col-md-10 data editer">
							<textarea name="content" style="width:800px;height:400px;visibility:hidden;" ></textarea>
						</div>



					</div>
				</div>

				<!--图片上传-->
				<div class="tab-pane" id="pic_upload">
					<div class="row data-type">
						<!-- 颜色图片 -->
						<div class="btn-group">
							<button type="button" ng-click="image_entity={}" class="btn btn-default" title="新建" data-target="#uploadModal"  data-toggle="modal"  ><i class="fa fa-file-o"></i> 新建</button>

						</div>

						<table class="table table-bordered table-striped table-hover dataTable">
							<thead>
							<tr>

								<th class="sorting">描述</th>
								<th class="sorting">图片</th>
								<th class="sorting">操作</th>
							</thead>
							<tbody>
							<tr ng-repeat="pojo in entity.imgurl">
								<td>
									{{pojo.desc}}
								</td>
								<td>
									<img alt="" src="{{pojo.url}}" width="100px" height="100px">
								</td>
								<td> <button type="button" ng-click="remove_iamge_entity($index)" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button></td>
							</tr>
							</tbody>
						</table>
						<!--{{entity.imgurl}}-->
					</div>
				</div>




				<!--规格-->
				<div class="tab-pane" id="spec">
					<div class="row data-type">
						<div class="col-md-2 title" >上架时间</div>
						<div class="col-md-10 data">
							<input type='text'  id="test1" class="form-control" ng-model="entity.shelfbegin" />
							</select>
						</div>

					</div>
					<div class="row data-type">
						<div class="col-md-2 title" >下架时间</div>
						<div class="col-md-10 data">
							<input type='text' id="test2"  class="form-control" ng-model="entity.shelfend" />
							</select>
						</div>

					</div>
					<!--tab内容/-->
					<!--表单内容/-->

				</div>



				<!--规格-->
				<div class="tab-pane" id="sellerMsg">
					<div class="row data-type">
						<div class="col-md-2 title editer">商家留言</div>
						<div class="col-md-10 data editer">
							<textarea name="sellerMsg" style="width:800px;height:400px;visibility:hidden;" ></textarea>
						</div>

					</div>
					<!--tab内容/-->
					<!--表单内容/-->

				</div>



			</div>
			<div class="btn-toolbar list-toolbar">
				<button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>保存商品</button>
				<button class="btn btn-default" >返回列表</button>
			</div>
		</div>
	</div>
	</div>
</section>

<!-- 上传窗口 -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">上传商品图片</h3>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped">
					<tr>
						<td>描述</td>
						<td><input ng-model="image_entity.desc" class="form-control" placeholder="描述" >  </td>
					</tr>
					<tr>
						<td>商品图片</td>
						<td>
							<table>
								<tr>
									<td>
										<input type="file" id="file" />
										<button class="btn btn-primary" type="button" ng-click="uploadFile()">
											上传
										</button>
									</td>
									<td>
										<img  src="{{image_entity.url}}" width="200px" height="200px">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success"  data-dismiss="modal" ng-click="add_image_entity()" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
			{{image_entity}}
		</div>
	</div>
</div>


<!-- 正文区域 /-->
<script type="text/javascript">

    var editor;
    var sellMsgEditor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            // uploadJson : '/upload_json.jsp',
            allowFileManager : true,
            uploadJson : '../uploadOk.do',
            //自定义高度和宽度

            resizeType : 1,
            height:"300%",
        });
        sellMsgEditor = K.create('textarea[name="sellerMsg"]', {
            allowFileManager : true
        });
    });

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#test2' //指定元素
        ,type: 'datetime'
    });
    function fixedKeToolbar(){
        var keContainer = $(".ke-container"),keToolbar = $(".ke-toolbar");
        var winScollTop = $(window).scrollTop();
        if(winScollTop-keContainer.offset().top>0)
            keToolbar.css({"position":"fixed","top":0,"width":keToolbar.closest("div").width()});
        else
            keToolbar.removeAttr("style");
    }
    window.onscroll = fixedKeToolbar;
</script>

</body>

</html>