<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>


    <!--省市区插件-->
    <script type="text/javascript" src="../js/distpicker/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../js/distpicker/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/distpicker/distpicker.data.js"></script>
    <script type="text/javascript" src="../js/distpicker/distpicker.js"></script>
    <script type="text/javascript" src="../js/distpicker/main.js"></script>

    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/memberService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/memberController.js"></script>


    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->

    <!--<script>-->
        <!--$(function () {-->
            <!--$('#datetimepicker1').datetimepicker({-->
                <!--format: 'YYYY-MM-DD',-->
                <!--locale: moment.locale('zh-cn')-->
            <!--});-->
            <!--$('#datetimepicker2').datetimepicker({-->
                <!--format: 'YYYY-MM-DD hh:mm',-->
                <!--locale: moment.locale('zh-cn')-->
            <!--});-->
        <!--});-->
    <!--</script>-->

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="fruits" ng-controller="memberController" >
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">用户管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="checkDel()"  ><i class="fa fa-file-o"></i>删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                    <button type="button" class="btn btn-default" title="备份" ng-click="back()" ><i class="fa fa-file-o"></i>备份</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                用户名：<input type="text" ng-model="searchEntity.username">
                姓名：<input type="text" ng-model="searchEntity.realname">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_uname">用户名</th>
                <th class="sorting_tname">姓名</th>
                <th class="sorting">出生日期</th>
                <th class="sorting">电话</th>
                <th class="sorting">邮箱</th>
                <th class="sorting">地址</th>
                <th class="sorting">注册日期</th>
                <th class="sorting">是否会员</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
                <td>{{entity.username}}</td>
                <td>{{entity.realname}}</td>
                <td>{{entity.brithtime}}</td>
                <td>{{entity.tel}}</td>
                <td>{{entity.email}}</td>
                <td>{{entity.addr}}</td>
                <td>{{entity.savetime}}</td>
                <td><p ng-if="entity.isgjhy=='y'">是</p> <p ng-if="entity.isgjhy=='n'">否</p></td>
                <!--<td>{{entity.isgjhy}}</td>-->
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-success btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" >修改</button>
                    <button type="button" class="btn bg-olive btn-success btn-xs"  ng-click="reset(entity.id)" >重置密码</button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->




</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>用户名</td>
                        <td><input  class="form-control" ng-model="entity.username" placeholder="用户名" ></td>
                    </tr>
                    <tr><td>姓名</td>
                        <td><input  class="form-control" ng-model="entity.realname" placeholder="姓名" ></td>
                    </tr>
                    <tr><td>是否会员</td>
                        <td>
                            <select class="form-control" ng-model="entity.isgjhy">
                                <option value="y">是</option>
                                <option value="n">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td>性别</td>
                        <td>
                            <select class="form-control" ng-model="entity.sex">
                                <option >男</option>
                                <option >女</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td>出生日期</td>
                        <td>
                            <input type='date' class="form-control" ng-model="entity.brithtime" />
                        </td>
                    </tr>
                    <tr><td>电话</td>
                        <td><input  class="form-control" ng-model="entity.tel" placeholder="电话" ></td>
                    </tr>
                    <tr> <td>邮箱</td>
                        <td><input  class="form-control" ng-model="entity.email" placeholder="邮箱" ></td>
                    </tr>
                    <tr>
 <td>省市</td>
                        <td>

                            <div data-toggle="distpicker" id="distpicker1" >


                                    <select class="form-control" ng-model="entity.sheng"   name="sheng" id="province2" data-province="---- 选择省 ----"></select>

                                    <select class="form-control" ng-model="entity.shi" id="city2" name="shi"  data-city="---- 选择市 ----"></select>

                            </div>
                        </td>
                    </tr>
                    <tr><td>地址</td>
                        <td><input  class="form-control" ng-model="entity.addr" placeholder="地址" ></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal3">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>{{msg}}</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <a ng-if="msg!='备份成功'"  class="btn btn-success" data-dismiss="modal">确定</a>

                <a  ng-if="msg=='备份成功'" target="iframe" href="reduction.html"  class="btn btn-success" >确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                请确认
            </div>
            <div class="modal-body">
                确认删除该记录吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="dele()" data-dismiss="modal">删除记录</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                请确认
            </div>
            <div class="modal-body">
                是否重置密码？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="resetPd()" data-dismiss="modal">是</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>