<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>评价管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/pingjiaService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/pingjiaController.js">  </script>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="fruits" ng-controller="pingjiaController" >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">评价管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="删除" ng-click="checkDel()"><i class="fa fa-trash-o"></i> 删除</button>

                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    用户姓名：
                                    <input type="text" ng-model="searchEntity.memberid">
                                     商品名称：<input  ng-model="searchEntity.goodsid" >
                                    <button class="btn btn-default" ng-click="reloadList()">查询</button>
                                    <button class="btn btn-default" ng-click="searchEntity={};reloadList()">重置</button>
                                </div>

                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 

                             <th class="sorting">评价人</th>
                             <th class="sorting">商品名称</th>
                             <th class="sorting">评价内容</th>
                             <th class="sorting">评价时间</th>
                             <th class="sorting">商家回复</th>
                             <th class="sorting">回复时间</th>
								     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>			                              
				                  <td>{{entity.memberid}}</td>
                             <td>{{entity.goodsid}}</td>
                             <td>{{entity.content}}</td>
                             <td>{{entity.savetime}}</td>
                             <td>{{entity.sellerresponse}}</td>
                             <td>{{entity.responsetm}}</td>
		                                 
		                                  <td class="text-center">                                           
		                                 	  <button type="button" ng-if="entity.sellerresponse==null||entity.sellerrespon==''" class="btn btn-success btn-xs" data-toggle="modal" data-target="#editModal" ng-click="openEdit(entity)" >回复</button>
		                                  </td>
			                          </tr>									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                        </div>
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">评价回复</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">			
		      	  		      	<tr>
                             
<td>评价人</td>

                             <td>{{entity.memberid}}</td>

                        </tr>		
		      	<tr>
                             
<td>商品名称</td>

                             <td>{{entity.goodsid}}</td>

                        </tr>		
		      	<tr>
                             
<td>评价内容</td>

                             <td>  <textarea  rows="3" readonly="true" class="form-control" ng-model="entity.content" placeholder="" >
                                 </textarea>
                                 </td>

                        </tr>		
		      	<tr>
                             
<td>回复内容</td>

                             <td> <textarea  rows="3"  class="form-control" ng-model="entity.sellerresponse" placeholder="" >
                                 </textarea>

                        </tr>
		  		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>



  <!--提示信息-->
  <div class="modal fade" id="editModal1">
      <div class="modal-dialog">
          <div class="modal-content message_align">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">提示信息</h4>
              </div>
              <div class="modal-body">
                  <p>{{msg}}</p>
              </div>
              <div class="modal-footer">
                  <input type="hidden" id="url1"/>
                  <a   class="btn btn-success" data-dismiss="modal">确定</a>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  请确认
              </div>
              <div class="modal-body">
                  确认删除该记录吗？
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-danger" ng-click="dele()" data-dismiss="modal">删除记录</button>

              </div>
          </div>
      </div>
  </div>
</body>
</html>
