<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/stockinfoService.js">  </script>
    <script type="text/javascript" src="../js/service/protypeService.js">  </script>

    <script type="text/javascript" src="../js/service/kcrecordService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/stockinfoController.js">  </script>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="fruits" ng-controller="stockinfoController" >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">库存管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <div class="box-tools pull-right">
                                <div class="has-feedback">

                                    商品名称：<input type="text" ng-model="searchEntity.goodname">
                                    一级分类：
                                    <select  ng-model="searchEntity.fid"  ng-init="selectProTypeList3()" >
                                        <option ng-repeat="a in proTypeList3"  value="{{a.id}}" >{{a.typename}}</option>
                                    </select>
                                    二级分类：<select  ng-model="searchEntity.sid" >
                                    <option ng-repeat="a in proTypeList4"  value="{{a.id}}" >{{a.typename}}</option>
                                </select>
                                    <button class="btn btn-default" ng-click="reloadList()">查询</button>
                                    <button class="btn btn-default" ng-click="searchEntity={};reloadList()">重置</button>
                                </div>

                            </div>
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
                              <th class="sorting">商品名称</th>
                             <th class="sorting">一级分类</th>
                            <th class="sorting">二级分类</th>
                          <th class="sorting">库存数量</th>
                             <th class="sorting">保留数量</th>			
                             <th class="sorting">最小库存量</th>			
                             <th class="sorting">存储地点</th>
					           <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
                       <td>{{entity.goodName}}</td>
                        <td>{{entity.fname}}</td>
                            <td>{{entity.sname}}</td>
                           <td>{{entity.stockCount}}</td>
                             <td>{{entity.holdCount}}</td>			
                             <td>{{entity.minStockCount}}</td>			
                             <td>{{entity.storageLocation}}</td>			

		                                 
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-success btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id,entity.goodName,entity.fname,entity.sname)" >修改</button>
                                              <button type="button" class="btn bg-olive btn-success btn-xs" data-toggle="modal" data-target="#editModal2" ng-click="findOne(entity.id,entity.goodName,entity.fname,entity.sname)" >出库/入库</button>
                                              <a class="btn bg-olive btn-success btn-xs"  href="kcrecord.html#?id={{entity.id}}&goodName={{entity.goodName}}&fname={{entity.fname}}&sname={{entity.sname}}&stockCount={{entity.stockCount}}" >明细</a>
                                          </td>
			                          </tr>									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                        </div>
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">
                 <tr>
                     <td>商品名称</td>
                     <td>{{ entity.goodName}}</td>
                 </tr>
                 <!--<tr>-->
                     <!--<td>一级分类</td>-->
                     <!--<td>{{ entity.fname}}</td>-->
                 <!--</tr>-->
                 <!--<tr>-->
                 <!--<td>二级分类</td>-->
                 <!--<td>{{ entity.sname}}</td>-->
                 <!--</tr>-->
		      	  		      	<!--<tr>-->
                             <!---->
<!--<td>库存数量</td>-->

                             <!--<td><input  class="form-control" ng-model="entity.stockCount" placeholder="库存数量" ></td>-->

                        <!--</tr>		-->
		      	<tr>
                             
<td>保留数量</td>

                             <td><input  class="form-control" ng-model="entity.holdCount" placeholder="保留数量" ></td>

                        </tr>		
		      	<tr>
                             
<td>最小库存量</td>

                             <td><input  class="form-control" ng-model="entity.minStockCount" placeholder="最小库存量" ></td>

                        </tr>		
		      	<tr>
                             
<td>存储地点</td>

                             <td><input  class="form-control" ng-model="entity.storageLocation" placeholder="存储地点" ></td>

                        </tr>		


		  		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>

<!--消息弹框-->
  <div class="modal fade" id="editModal1">
      <div class="modal-dialog">
          <div class="modal-content message_align">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">提示信息</h4>
              </div>
              <div class="modal-body">
                  <p>{{msg}}</p>
              </div>
              <div class="modal-footer">
                  <input type="hidden" id="url"/>
                  <a   class="btn btn-success" data-dismiss="modal">确定</a>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- 出库/入库窗口 -->
  <div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabe2">编辑</h3>
              </div>
              <div class="modal-body">
                  <table class="table table-bordered table-striped"  width="800px">
                      <tr>
                          <td>商品名称</td>
                          <td>{{ entity.goodName}}</td>
                      </tr>

                      <tr>
                      <td>一级分类</td>
                      <td>{{ entity.fname}}</td>
                      </tr>
                      <tr>
                      <td>二级分类</td>
                      <td>{{ entity.sname}}</td>
                      </tr>
                      <tr>

                      <td>库存数量</td>

                      <td>{{entity.stockCount}}</td>

                      </tr>
                      <td>操作</td>

                      <td>

                          <select class="form-control" ng-model="entity.type" >
                              <option value="">-- 请选择 --</option>
                              <option value="in"  >入库</option>
                              <option value="out">出库</option>
                          </select>
                      </td>
                      </tr>
                      <td>数量</td>

                      <td><input  class="form-control" ng-model="entity.happennum" placeholder="操作数量" ></td>

                      </tr>
                      <tr>
                      <td>说明</td>

                      <td><input  class="form-control" ng-model="entity.flag" placeholder="说明" ></td>

                      </tr>
                  </table>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="savekcrecod()">保存</button>
                  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
              </div>
          </div>
      </div>
  </div>




</body>
</html>
