<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.fruits.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.fruits.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodno" property="goodno" jdbcType="VARCHAR" />
    <result column="goodname" property="goodname" jdbcType="VARCHAR" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="goodpp" property="goodpp" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="tprice" property="tprice" jdbcType="VARCHAR" />
    <result column="istj" property="istj" jdbcType="VARCHAR" />
    <result column="delstatus" property="delstatus" jdbcType="VARCHAR" />
    <result column="savetime" property="savetime" jdbcType="VARCHAR" />
    <result column="filename1" property="filename1" jdbcType="VARCHAR" />
    <result column="filename2" property="filename2" jdbcType="VARCHAR" />
    <result column="filename3" property="filename3" jdbcType="VARCHAR" />
    <result column="filename4" property="filename4" jdbcType="VARCHAR" />
    <result column="isshelf" property="isshelf" jdbcType="VARCHAR" />
    <result column="shelfbegin" property="shelfbegin" jdbcType="VARCHAR" />
    <result column="shelfend" property="shelfend" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zzti.fruits.pojo.Goods" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goodno, goodname, fid, sid, goodpp, price, tprice, istj, delstatus, savetime, 
    filename1, filename2, filename3, filename4, isshelf, shelfbegin, shelfend, imgurl
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zzti.fruits.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zzti.fruits.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryMaxId" resultType="Integer">

  select Max(id) as id from goods

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzti.fruits.pojo.GoodsExample" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzti.fruits.pojo.Goods" >
    insert into goods (id, goodno, goodname, 
      fid, sid, goodpp, price, 
      tprice, istj, delstatus, 
      savetime, filename1, filename2, 
      filename3, filename4, isshelf, 
      shelfbegin, shelfend, imgurl, 
      content)
    values (#{id,jdbcType=INTEGER}, #{goodno,jdbcType=VARCHAR}, #{goodname,jdbcType=VARCHAR}, 
      #{fid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{goodpp,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{tprice,jdbcType=VARCHAR}, #{istj,jdbcType=VARCHAR}, #{delstatus,jdbcType=VARCHAR}, 
      #{savetime,jdbcType=VARCHAR}, #{filename1,jdbcType=VARCHAR}, #{filename2,jdbcType=VARCHAR}, 
      #{filename3,jdbcType=VARCHAR}, #{filename4,jdbcType=VARCHAR}, #{isshelf,jdbcType=VARCHAR}, 
      #{shelfbegin,jdbcType=VARCHAR}, #{shelfend,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.fruits.pojo.Goods"  >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodno != null" >
        goodno,
      </if>
      <if test="goodname != null" >
        goodname,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="goodpp != null" >
        goodpp,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="tprice != null" >
        tprice,
      </if>
      <if test="istj != null" >
        istj,
      </if>
      <if test="delstatus != null" >
        delstatus,
      </if>
      <if test="savetime != null" >
        savetime,
      </if>
      <if test="filename1 != null" >
        filename1,
      </if>
      <if test="filename2 != null" >
        filename2,
      </if>
      <if test="filename3 != null" >
        filename3,
      </if>
      <if test="filename4 != null" >
        filename4,
      </if>
      <if test="isshelf != null" >
        isshelf,
      </if>
      <if test="shelfbegin != null" >
        shelfbegin,
      </if>
      <if test="shelfend != null" >
        shelfend,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodno != null" >
        #{goodno,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="goodpp != null" >
        #{goodpp,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="tprice != null" >
        #{tprice,jdbcType=VARCHAR},
      </if>
      <if test="istj != null" >
        #{istj,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null" >
        #{savetime,jdbcType=VARCHAR},
      </if>
      <if test="filename1 != null" >
        #{filename1,jdbcType=VARCHAR},
      </if>
      <if test="filename2 != null" >
        #{filename2,jdbcType=VARCHAR},
      </if>
      <if test="filename3 != null" >
        #{filename3,jdbcType=VARCHAR},
      </if>
      <if test="filename4 != null" >
        #{filename4,jdbcType=VARCHAR},
      </if>
      <if test="isshelf != null" >
        #{isshelf,jdbcType=VARCHAR},
      </if>
      <if test="shelfbegin != null" >
        #{shelfbegin,jdbcType=VARCHAR},
      </if>
      <if test="shelfend != null" >
        #{shelfend,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzti.fruits.pojo.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodno != null" >
        goodno = #{record.goodno,jdbcType=VARCHAR},
      </if>
      <if test="record.goodname != null" >
        goodname = #{record.goodname,jdbcType=VARCHAR},
      </if>
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.goodpp != null" >
        goodpp = #{record.goodpp,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.tprice != null" >
        tprice = #{record.tprice,jdbcType=VARCHAR},
      </if>
      <if test="record.istj != null" >
        istj = #{record.istj,jdbcType=VARCHAR},
      </if>
      <if test="record.delstatus != null" >
        delstatus = #{record.delstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.savetime != null" >
        savetime = #{record.savetime,jdbcType=VARCHAR},
      </if>
      <if test="record.filename1 != null" >
        filename1 = #{record.filename1,jdbcType=VARCHAR},
      </if>
      <if test="record.filename2 != null" >
        filename2 = #{record.filename2,jdbcType=VARCHAR},
      </if>
      <if test="record.filename3 != null" >
        filename3 = #{record.filename3,jdbcType=VARCHAR},
      </if>
      <if test="record.filename4 != null" >
        filename4 = #{record.filename4,jdbcType=VARCHAR},
      </if>
      <if test="record.isshelf != null" >
        isshelf = #{record.isshelf,jdbcType=VARCHAR},
      </if>
      <if test="record.shelfbegin != null" >
        shelfbegin = #{record.shelfbegin,jdbcType=VARCHAR},
      </if>
      <if test="record.shelfend != null" >
        shelfend = #{record.shelfend,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        imgurl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      goodno = #{record.goodno,jdbcType=VARCHAR},
      goodname = #{record.goodname,jdbcType=VARCHAR},
      fid = #{record.fid,jdbcType=VARCHAR},
      sid = #{record.sid,jdbcType=VARCHAR},
      goodpp = #{record.goodpp,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      tprice = #{record.tprice,jdbcType=VARCHAR},
      istj = #{record.istj,jdbcType=VARCHAR},
      delstatus = #{record.delstatus,jdbcType=VARCHAR},
      savetime = #{record.savetime,jdbcType=VARCHAR},
      filename1 = #{record.filename1,jdbcType=VARCHAR},
      filename2 = #{record.filename2,jdbcType=VARCHAR},
      filename3 = #{record.filename3,jdbcType=VARCHAR},
      filename4 = #{record.filename4,jdbcType=VARCHAR},
      isshelf = #{record.isshelf,jdbcType=VARCHAR},
      shelfbegin = #{record.shelfbegin,jdbcType=VARCHAR},
      shelfend = #{record.shelfend,jdbcType=VARCHAR},
      imgurl = #{record.imgurl,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      goodno = #{record.goodno,jdbcType=VARCHAR},
      goodname = #{record.goodname,jdbcType=VARCHAR},
      fid = #{record.fid,jdbcType=VARCHAR},
      sid = #{record.sid,jdbcType=VARCHAR},
      goodpp = #{record.goodpp,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      tprice = #{record.tprice,jdbcType=VARCHAR},
      istj = #{record.istj,jdbcType=VARCHAR},
      delstatus = #{record.delstatus,jdbcType=VARCHAR},
      savetime = #{record.savetime,jdbcType=VARCHAR},
      filename1 = #{record.filename1,jdbcType=VARCHAR},
      filename2 = #{record.filename2,jdbcType=VARCHAR},
      filename3 = #{record.filename3,jdbcType=VARCHAR},
      filename4 = #{record.filename4,jdbcType=VARCHAR},
      isshelf = #{record.isshelf,jdbcType=VARCHAR},
      shelfbegin = #{record.shelfbegin,jdbcType=VARCHAR},
      shelfend = #{record.shelfend,jdbcType=VARCHAR},
      imgurl = #{record.imgurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.fruits.pojo.Goods" >
    update goods
    <set >
      <if test="goodno != null" >
        goodno = #{goodno,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null" >
        goodname = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="goodpp != null" >
        goodpp = #{goodpp,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="tprice != null" >
        tprice = #{tprice,jdbcType=VARCHAR},
      </if>
      <if test="istj != null" >
        istj = #{istj,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        delstatus = #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null" >
        savetime = #{savetime,jdbcType=VARCHAR},
      </if>
      <if test="filename1 != null" >
        filename1 = #{filename1,jdbcType=VARCHAR},
      </if>
      <if test="filename2 != null" >
        filename2 = #{filename2,jdbcType=VARCHAR},
      </if>
      <if test="filename3 != null" >
        filename3 = #{filename3,jdbcType=VARCHAR},
      </if>
      <if test="filename4 != null" >
        filename4 = #{filename4,jdbcType=VARCHAR},
      </if>
      <if test="isshelf != null" >
        isshelf = #{isshelf,jdbcType=VARCHAR},
      </if>
      <if test="shelfbegin != null" >
        shelfbegin = #{shelfbegin,jdbcType=VARCHAR},
      </if>
      <if test="shelfend != null" >
        shelfend = #{shelfend,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzti.fruits.pojo.Goods" >
    update goods
    set goodno = #{goodno,jdbcType=VARCHAR},
      goodname = #{goodname,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      goodpp = #{goodpp,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      tprice = #{tprice,jdbcType=VARCHAR},
      istj = #{istj,jdbcType=VARCHAR},
      delstatus = #{delstatus,jdbcType=VARCHAR},
      savetime = #{savetime,jdbcType=VARCHAR},
      filename1 = #{filename1,jdbcType=VARCHAR},
      filename2 = #{filename2,jdbcType=VARCHAR},
      filename3 = #{filename3,jdbcType=VARCHAR},
      filename4 = #{filename4,jdbcType=VARCHAR},
      isshelf = #{isshelf,jdbcType=VARCHAR},
      shelfbegin = #{shelfbegin,jdbcType=VARCHAR},
      shelfend = #{shelfend,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.fruits.pojo.Goods" >
    update goods
    set goodno = #{goodno,jdbcType=VARCHAR},
      goodname = #{goodname,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      goodpp = #{goodpp,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      tprice = #{tprice,jdbcType=VARCHAR},
      istj = #{istj,jdbcType=VARCHAR},
      delstatus = #{delstatus,jdbcType=VARCHAR},
      savetime = #{savetime,jdbcType=VARCHAR},
      filename1 = #{filename1,jdbcType=VARCHAR},
      filename2 = #{filename2,jdbcType=VARCHAR},
      filename3 = #{filename3,jdbcType=VARCHAR},
      filename4 = #{filename4,jdbcType=VARCHAR},
      isshelf = #{isshelf,jdbcType=VARCHAR},
      shelfbegin = #{shelfbegin,jdbcType=VARCHAR},
      shelfend = #{shelfend,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>